* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-section {
  background-image: url("../Assets/Vector\ 1.png");
  background-color: #efefef;
  height: 100vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.fs-h1 {
  position: absolute;
  /* width: 698.44px; */
  height: 26.07px;
  left: 760px;
  top: 121px;

  font-family: "Arial";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 52px;
  /* or 104% */

  color: #ffffff;
}
.fs-h2 {
  position: absolute;
  /* width: 755px; */
  height: 32px;
  left: 729px;
  top: 246px;

  font-family: "Arial";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  /* or 97% */

  color: rgba(255, 255, 255, 0.95);
}
.sc-h1 {
  border-bottom: 9px solid #c10017;
}
.left-side div {
  height: 110px;
}
.hr-line {
  border-bottom: 6px solid rgba(125, 227, 20, 1);
}
.hr-line2 {
  border-bottom: 6px solid rgba(20, 160, 192, 1);
}
.hr-line3 {
  border-bottom: 6px solid rgba(1, 204, 155, 1);
}
.p-sc2 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #000000;
}
.img1 {
  height: 750px;
  width: 550px;
}
.img2 {
  height: 600px;
  width: 600px;
}
.img3 {
  height: 55px;
  width: 67px;
}
.sc2-d2-p {
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}
.second-section {
  background-image: url("../Assets/Rectangle\ 132.png");
  background-color: #efefef;
  height: 100vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.sc2-d3 {
  margin-top: 40px;
}
.sc3-t {
  height: 20vh;
}
.sc3-t-h,
.sc4-th {
  border-bottom: 9px solid #c10017;
}
.sc3-t-content {
  float: right;
}
.sc3-b {
  height: 80vh;
}
.sc3-b-r {
  position: relative;
}
.sc3-b-button {
  position: absolute;
  bottom: 0;
  right: 0;
}
.avc {
  background-color: #c10017 !important;
  color: white !important;
  padding-left: 23px !important;
  padding-right: 23px !important;
}
.section-3 {
  background-image: url("../Assets/Rectangle\ 110.svg");
  background-color: #fffdfd;
  height: 130vh;
  width: auto;
  background-position: center 17px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section-4 {
  background-image: url("../Assets/Vector\ 1.svg");
  background-color: #efefef;
  height: 100vh;
  width: auto;
  background-position: left;
  background-size: 1050px;
  background-repeat: no-repeat;
  position: relative;
}
.img4 {
  height: auto;
  width: 450px;
}
.sc4-r {
  background-color: #ffffff;
  height: 100px;
  width: 370px;
  margin-left: 31%;
  margin-top: 15.5%;
}
.sc4-rc {
  padding-top: 5%;
  text-align: center;
}
.img5 {
  position: absolute;
  transform: rotateX(27.5deg);
  height: auto;
  width: 300px;
}
.sc4-ri {
  margin-left: 15%;
}
.sc4-r-lower {
  margin-top: 13%;
}
.sc4-r-lower-li {
  margin-left: -97%;
}
.img6 {
  position: absolute;
  transform: rotateX(28deg);
  height: auto;
  width: 300px;
}
.sc4-r-lower-ld {
  background-color: #ffffff;
  height: 100px;
  width: 370px;
  margin-left: -64%;
  margin-top: 32%;
}
.sc4-r-lower-lc {
  padding-top: 5%;
  text-align: center;
}

.sc4-r-lower-ri {
  margin-left: -40%;
}
.sc4-r-lower-rd {
  background-color: #ffffff;
  height: 100px;
  width: 370px;
  margin-left: -6%;
  margin-top: 32%;
}
.img7 {
  position: absolute;
  transform: rotateX(28deg);
  height: auto;
  width: 300px;
}
.sc4-r-lower-rc {
  padding-top: 5%;
  text-align: center;
}
